.icon {
    color: var(--color-black);
}
.icon:hover {
    color: var(--color-light-green);
    cursor: pointer;
}

.close_icon {
    color: var(--color-white);
}

.nav_icon {
    color: var(--color-white);
}
.nav_icon:hover {
    color: var(--color-white);
    cursor: pointer;
}