.navbar {
    background-color: var(--color-red);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    position: absolute;
    bottom: 0;
    max-width: 414px;
}
.navbar a {
    height: 25px;
}
