.navbar {
    background-color: var(--color-red);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    position: absolute;
    bottom: 0;
    max-width: var(--max-width-screen);
    z-index: 3;
}
.navbar a {
    height: 25px;
    transition: .2s ease-in-out;
}
.navbar a:hover {
    opacity: 0.7;
}
