.navBar {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navBarOption {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.musicIcon {
    font-size: 20px;
}

.headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;     
}

.subHealine {
    font-size: var(--body-font-size-desktop);
    font-family: var(--primary-font);
}

.mainHeadline {
    font-size: var(--main-headline-font-size-desktop);
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    color: var(--color-red);
}