.modalBox {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: #034806bf;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.tutorial_display {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 25%;
}

/* Tutorial 1 - Let's Play */
.gameToturialDisplay {
    width: 100%;
    max-width: 350px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 20px;
}

.headline {
    font-family: var(--secondary-font);
    margin: 20px 0;
}

@keyframes bottomToTop {
    0%{
        bottom: 0%;
        opacity: 0;
    } 
    100% {
        bottom: 13%;
        opacity: 1;
    }
}

.lets_play_next_button {
    position: absolute;
    left: 31%;
    bottom: 13%;
    animation-name: bottomToTop;
    animation-duration: 2s;
}


/* Tutorial 2 - Find Match */
.find_match_display {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.findMatchView {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.findIngredientSample {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredient_image_sample {
   position: relative;
}

.icons {
    position: absolute;
    top: 65px;
    left: 25px;
}

.wrong_ingredient {
    border: 2px solid var(--color-red);
    border-radius: 5px;
}

.correct_ingredient {
    border: 2px solid var(--color-avocado);
    border-radius: 5px;
}

.arrowIcon {
    font-size: 40px;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.find_match_next_button {
    position: absolute;
    left: 31%;
    bottom: 13%;
    animation-name: fadeIn;
    animation-duration: 2s;
}

