.modalBox {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: #034806bf;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.tutorialDisplay {
    width: 100%;
    padding-top: 60px;
    text-align: center;
}

@keyframes lefttoRight {
    0%{
        left: 0%;
        opacity: 0;
    } 
    25%{
        left: 0%;
        opacity: 0;
    }
    50%{
        left: 0%;
        opacity: 0;
    }
    100% {
        left: 36%;
        opacity: 1;
    }
}

.skipTutorials__link {
    position: absolute;
    bottom: 6%;
    left: 36%;
    cursor: pointer;
    animation-name: lefttoRight;
    animation-duration: 2s;
}

.skipTutorials__link:hover {
    opacity: 0.8;
}

/* Tutorial 1 - Let's Play */
.gameToturialDisplay {
    width: 100%;
    max-width: 350px;
    height: 600px;
    position: relative;
    background-color: var(--color-white);
    border-radius: 20px;
}

.headline {
    font-family: var(--secondary-font);
    margin: 20px 0;
}

@keyframes topToBottom {
    0%{
        top: 98px;
        opacity: 0;
    } 
    100% {
        top: 170px;
        opacity: 1;
    }
}

.mascot {
    position: absolute;
    left: 52px;
    top: 170px;
    animation-name: topToBottom;
    animation-duration: 2s;
}

@keyframes bottomToTop {
    0%{
        bottom: 0%;
        opacity: 0;
    } 
    100% {
        bottom: 13%;
        opacity: 1;
    }
}

.lets_play_next_button {
    position: absolute;
    left: 31%;
    bottom: 13%;
    animation-name: bottomToTop;
    animation-duration: 1s;
}


/* Tutorial 2 - Find Match */
.find_match_display {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.findMatchView {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.findIngredientSample {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredient_image_sample {
   position: relative;
}

.icons {
    position: absolute;
    top: 65px;
    left: 25px;
}

.wrong_ingredient {
    border: 2px solid var(--color-red);
    border-radius: 5px;
}

.correct_ingredient {
    border: 2px solid var(--color-avocado);
    border-radius: 5px;
}

.arrowIcon {
    font-size: 40px;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.find_match_next_button {
    position: absolute;
    left: 31%;
    bottom: 13%;
    animation-name: fadeIn;
    animation-duration: 1s;
}

/* Tutotrial 3 - Time to Mix */
.timeToMix {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.timeToMix > p {
    width: 225px;
}

.time_to_mix_next_button {
    position: absolute;
    left: 19%;
    bottom: 13%;
    animation-name: fadeIn;
    animation-duration: 2s;
}



