.search__container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--color-white);
}
.search__input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 300;
    background: transparent;
    color: var(--color-black);
    font-family: var(--primary-font);
    outline-style: none;
}
.filter__icon {
    padding: 3px 0 0 15px;
    border-left: 1px solid var(--color-black);
}