.container {
    margin-top: 50px;
    height: 330px;
}

.label {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--primary-font);
    margin-top: 1rem;
  }
  
  .p__text{
    font-size: 14px;
    color: var(--color-lightgray);
  }