/* about main */
.about__main {
    background: linear-gradient(0.37deg, #F2F2F2 6.08%, #A9EDF1 103.31%);
    height: 100vh;
    padding-bottom: 85px;
    overflow: scroll;
    position: relative;
}
.about__main > * {
    padding: 0 30px;
}
.about__main_content {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding-bottom: 30px;
}

.globe__container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.clouds {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    gap: 6.25rem;
    animation: clouds 2s infinite;
    animation-direction: alternate;
}
.earth_img {
    position: absolute;
    top: 1.5rem;
}

.about__yori{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.yori__text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.yori__text_container > p{
    width: 12rem;
    color: var(--color-emerald);
    font-size: 16px;
}

.learn__more > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    animation: learnMore 1s;
    position: relative;
    color: var(--color-emerald);
    font-weight: 100;
    font-size: 14px;
}

@keyframes learnMore {
    from {opacity: 0%; top: 30px;}
    to {opacity: 100%; top: 0px;}
}
@keyframes clouds {
    from { transition-timing-function: ease-in-out; top: 20px;}
    to { transition-timing-function: ease-in-out; top: 0px;}
}