.category_page {
    height: 100vh;
    padding-bottom: 85px;
    overflow: scroll;
    position: relative;
    background-color: var(--color-white);
}
.category_page > * {
    padding: 0 30px;
}

/* filter section */
.category_page__filter {
    padding: 25px 30px;
    overflow: scroll;
    display: flex;
    gap: 7px;
}

/* meal card */
.meal_card__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 40px;
}