.game__page {
    height: 100vh;
    padding-bottom: 85px;
    overflow: scroll;
    position: relative;
}
.game__page > * {
    padding: 0 30px;
}
.game__page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    position: relative;
}

/* Games Header */
.game__header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    /* background: linear-gradient(180deg, rgba(229, 100, 92, 0.56) 0%, rgba(236, 198, 79, 0.29) 100%);
    border-radius: 15px;
    width: 335px;
    height: 164px;
    margin-top: 2rem; */
}
.game__header_img:first-child {
    width: 100%;
    height: auto;
}
.sparkles_icon{
    position: absolute;
    margin-top: -1rem;
    animation: sparkle 3s infinite;
}
.header__p{
    font-family: var(--primary-font);
    font-weight: 100;
    color: var(--color-black);
    font-size: 14px;
}
@keyframes sparkle {
    0% {top: 5px;}
    50% {top: 0px;}
    100% {top: 5px;}
}
.game__title {
    width: 100%;
    text-align: left;
    text-decoration: underline;
    position: relative;
}
.game__title h2 {
    font-size: 20px;
}
.cook__text{
    color: var(--color-avocado);
}
.yellow__sparkles{
    position: absolute;
    top: -4px;
    right: 6.7rem;
}

/* Game Cards */
.game__collection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}
.game__card_bibimbap,
.game__card_mandu,
.game__card_miso_pasta,
.game__card_risotto {
    border-radius: 20px;
    border: 0.15rem solid var(--color-red);
    padding: .7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-pure-white);
}

.game__card_bibimbap::before,
.game__card_mandu::before,
.game__card_miso_pasta::before, 
.game__card_risotto::before {
    content: "";
    position: absolute;
    background: linear-gradient(105.2deg, #E5A755 11.62%, #E5645C 97.71%);
    border-radius: 20px;
    z-index: -1;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    width: 9.85rem;
    height: 9.85rem;
}

.seeGameText > p {
    font-family: var(--secondary-font);
    color: var(--color-light-green);
    font-size: 12px;
}
.seeGameText h3 {
    font-family: var(--secondary-font);
    color: var(--color-red);
}
.seeGameText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .15rem;
}

/* Tutorial Button */
.tutorial__button_container {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.tutorial_button {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
    border-radius: 40px;
    background-color: var(--color-orange);
    color: var(--color-pure-white);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 50px;
}

.footer__shapes{
    position: absolute;
    bottom: -5px;
    z-index: -3;
    padding: 0;
    /* margin-bottom: 85px; */
}

.nav__bar {
    position:fixed;
    width: 100%;
    top: 56.1rem;
}

.bottom_nav {
    position: fixed;
    z-index: 100;
}