.top__nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}


.game__page {
    position: relative;
    display: flex;
    justify-content: center;
}

.game_display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* height: 75vh; */
}

.seeGameText>p {
    font-family: var(--secondary-font);
    color: var(--color-light-green);
    font-size: 12px;
}
.seeGameText h3 {
    font-family: var(--secondary-font);
    color: var(--color-red);
}

.seeGameText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .15rem;
}


.games {
    display: grid;
    grid-template-columns: 155px 155px;
    gap: 22px;
}

/** Game Header  **/
.game__header_container {
    background: linear-gradient(180deg, rgba(229, 100, 92, 0.56) 0%, rgba(236, 198, 79, 0.29) 100%);
    border-radius: 15px;
    width: 335px;
    height: 164px;
    margin-top: 2rem;
}

.sparkles_icon{
    position: absolute;
    margin-top: 0.85rem;
    left: 3.1rem;
    animation: sparkle 3s infinite;
}

.header__text_container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-top: 2.75rem;

}

.chef__hat_icon{
    position: relative;
    top: .9rem;
    left: 4rem;
}
.kitchen___quest{
    font-family: var(--secondary-font);
    color: var(--color-avocado);
    font-size: 34px;
}
.header__p{
    font-family: var(--primary-font);
    font-weight: 100;
    color: var(--color-black);
    font-size: 14px;
}

@keyframes sparkle {
    0% {top: 5px;}
    50% {top: 0px;}
    100% {top: 5px;}
}

/** Games Container **/
.get__ready_header{
        display: flex;
        margin-left: -3rem;
        margin-top: 2rem;
        font-family: var(--primary-font);
        font-size: 16px;
        font-weight: 400;
        gap: .15rem;
        text-decoration:underline;
        text-underline-offset: 3px;
}
.cook__text{
 
    color: var(--color-avocado);
}

.yellow__sparkles{
    position: absolute;
    bottom: 26rem;
    right: 4.25rem;
}


/** Bibimbap Card **/
.game__card_bibimbap {
    border-radius: 20px;
    border: 0.15rem solid var(--color-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-pure-white);
}
    .game__card_bibimbap::before{
        content: "";
        position: absolute;
        background: linear-gradient(105.2deg, #E5A755 11.62%, #E5645C 97.71%);
        border-radius: 20px;
        z-index: -1;
        margin-left: 0.85rem;
        margin-top: 1.2rem;
        width: 9.85rem;
        height: 9.85rem;
    }


/** Mandu Card **/
.game__card_mandu {
    border-radius: 20px;
    border: 0.15rem solid var(--color-red);
    padding: .7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-pure-white);
}

.game__card_mandu::before{
    content: "";
    position: absolute;
    background: linear-gradient(105.2deg, #E5A755 11.62%, #E5645C 97.71%);
    border-radius: 20px;
    z-index: -1;
    margin-left: 0.85rem;
    margin-top: 1.2rem;
    width: 9.85rem;
    height: 9.85rem;
}

/** Miso Pasta Card **/
.game__card_miso_pasta {
    border-radius: 20px;
    border: 0.15rem solid var(--color-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-pure-white);
}
.game__card_miso_pasta::before{
    content: "";
    position: absolute;
    background: linear-gradient(105.2deg, #E5A755 11.62%, #E5645C 97.71%);
    border-radius: 20px;
    z-index: -1;
    margin-left: 0.85rem;
    margin-top: 1.2rem;
    width: 9.85rem;
    height: 9.85rem;
}

/** Risotto Card **/
.game__card_risotto {
    border-radius: 20px;
    border: 0.15rem solid var(--color-red);
    padding: 0.7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-pure-white);
}

.game__card_risotto::before{
    content: "";
    position: absolute;
    background: linear-gradient(105.2deg, #E5A755 11.62%, #E5645C 97.71%);
    border-radius: 20px;
    z-index: -1;
    margin-left: 0.85rem;
    margin-top: 1.2rem;
    width: 9.85rem;
    height: 9.85rem;
}

/** Tutorial Button **/
.tutorial_button {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
    border-radius: 40px;
    background-color: var(--color-orange);
    color: var(--color-pure-white);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 50px;
}

.footer__shapes{
    color: transparent;
    position: fixed;
    bottom: 13rem;
    z-index: -2;
    left: 0;
    top: 44rem;
}

.nav__bar {
    position:fixed;
    width: 100%;
    top: 56.1rem;
}

.bottom_nav {
    position: fixed;
    z-index: 100;
}