.home_page {
    padding: 40px 0;
}
.home_page > * {
    padding: 0 30px;
}

.home_page__greeting {
    margin: 35px 0 30px;
}
.home_page__greeting h1 {
    font-family: var(--secondary-font);
    font-size: 32px;
}
.home_page__greeting p {
    margin-top: 5px;
    font-weight: 300;
}

.search__container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--color-white);
}
.search__input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 300;
    background: transparent;
    color: var(--color-black);
    font-family: var(--primary-font);
    outline-style: none;
}
.filter__icon {
    padding: 3px 0 0 15px;
    border-left: 1px solid var(--color-black);
}