.home_page {
    height: calc(100vh - 5.53125em);
    overflow: scroll;
    position: relative;
    background-color: var(--color-white);
}
.home_page > * {
    padding: 0 30px;
}

/* filter section */
.home_page__filter {
    padding: 25px 30px;
    overflow: scroll;
    display: flex;
    gap: 7px;
}

/* categories section */
.home_page__categories {
    margin: 40px 0;
}
.home_page__categories h2 {
    font-size: 20px;
}
.meal_categories {
    margin-top: 25px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {
    
}