.toggle {
  height: 2.8rem;
  border-radius: 100px;
}
.switch__button_label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  margin: 1.8rem 0 4rem 0; 
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.dark {
  opacity: .5;
}
.mark {
  border-radius: 100px;
  background-color: black;
}
.mark {
  width: 7%;
  margin: auto;
  position: relative;
  height: .25rem;
}
.mark::before {
  content: '';
  position: absolute;
  width: .25rem;
  height: 100%;
  left: -70%;
  opacity: .15;
  background-color: inherit;
}
.mark::after {
  content: '';
  position: absolute;
  width: .25rem;
  height: 100%;
  right: -70%;
  opacity: .15;
  background-color: inherit;
}

/* Bottom */
// .skip {
//   padding: 1.5rem 1.8rem;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .skip p {
//   opacity: .55;
//   font-size: 90%;
//   cursor: pointer;
//   transition: all 2s ease;
// }
// .skip p:hover {
//    text-decoration: underline;
// }
// .fab {
//   box-shadow: 0 2px 10px rgba(0,0,0,.2);
//   border-radius: 100%;
//   width: 3rem;
//   height: 3rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   cursor: pointer;
//   transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
// }
// .fab:hover {
//   transform: scale(1.2);
// }
// .arrow {
//   width: 40%;
//   height: .1rem;
//   background-color: black;
// }
// .arrow::before {
//   content: '';
//   position: absolute;
//   height: .1rem;
//   width: 20%;
//   background-color: inherit;
//   transform: rotate(45deg);
//   right: 26%;
//   top: 42%;
// }
// .arrow::after {
//   content: '';
//   position: absolute;
//   height: .1rem;
//   width: 20%;
//   background-color: inherit;
//   transform: rotate(-45deg);
//   right: 26%;
//   bottom: 42%;
// }


/* -------- Switch Styles ------------*/
/*[type="checkbox"]*/.switch__button_label {
  display: none;
}
/* Toggle */
/*[type="checkbox"]*/.switch__button_label:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #34323D;
}
/*[type="checkbox"]*/:checked + .app .dark{
  opacity: 1;
}
/*[type="checkbox"]*/:checked + .app .light{
  opacity: .5;
}
/* App */
/*[type="checkbox"]*/.switch__button_label:checked + .app .body{
  background-color:  #26242E;
  color: white;
}
/* Circle */
/*[type="checkbox"]*/.switch__button_label:checked + .app .crescent{
  transform: scale(1);
  background: #26242E;
}
/*[type="checkbox"]*/.switch__button_label:checked + .app .circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}
/*[type="checkbox"]*/.switch__button_label:checked + .app .main-circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}
/* Fab */
/*[type="checkbox"]*/.switch__button_label:checked + .app .fab{
  background-color: #34323D;
}
/*[type="checkbox"]*/.switch__button_label:checked + .app .arrow,
/*[type="checkbox"]*/.switch__button_label:checked + .app .mark,
/*[type="checkbox"]*/.switch__button_label:checked + .app .battery{
  background-color: white;
}
/*[type="checkbox"]*/.switch__button_label:checked + .app .network{
  border-color: transparent transparent white transparent;
}
/*[type="checkbox"]*/.switch__button_label:checked + .app .swipe{
  background-color: #34323D;
  opacity: 1;
}
  