.profileContainer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.profileInfo {
    width: 100%;
    max-width: var(--max-width-screen);
    height: 100vh;
    /* margin-top: 180px;     */
    background-image: linear-gradient(var(--color-orange), var(--color-red));
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 200px; */
    gap: 90px;
    border-radius: 50px;
}

.profileImage {
    position: absolute;
    top: -50px;
    border-radius: 150px;
    border: 10px solid var(--color-pure-white);
}

.profileInfo > h1 {
    color: var(--color-white);
    font-family: var(--secondary-font);
}

.personalInfo > p {
    color: var(--color-white);
}