.list_page {
    height: 100vh;
    padding-bottom: 85px;
    overflow: scroll;
    position: relative;
    background-color: var(--color-white);
}
.list_page > * {
    padding: 0 30px;
}
.list_page > h1 {
    font-family: var(--secondary-font);
    color: var(--color-avocado);
    margin: 25px 0;
    text-align: center;
}
.list_page__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shopping_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopping_list__content {
    padding-left: 15px;
}
.shopping_list__content p:first-of-type{
    text-transform: capitalize;
}
.shopping_list__content p:last-of-type {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.shopping_list__checkbox {
    position: relative;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/* hide default checkbox */
.shopping_list__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
/* custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1.5px solid #A0BE52;
    border-radius: 5px;
}
.shopping_list__checkbox input:checked ~ .checkmark {
    background-color: #A0BE52;
}
/* checkmark */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.shopping_list__checkbox input:checked ~ .checkmark:after {
    display: block;
}
.shopping_list__checkbox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* filter section */
.list_page__filter {
    padding: 25px 30px;
    overflow: scroll;
    display: flex;
    gap: 7px;
}