.nutrition__button {
	display: flex;
	align-items: center;
	gap: 10px;
}
.nutrition__button span {
	font-size: 14px;
	margin-top: 3px;
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black);
}